<%= form_with(model: [post, comment], id: "comment_form", class: "comment-form", data: { controller: "reset_form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>
  <% if comment.errors.any? %>
    <div class="form-errors">
      <% comment.errors.full_messages.each do |message| %>
        <div class="error-message"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="">
    <div class="form-input">
      <%= form.text_area :content,
                         class: "comment-textarea w-full",
                         placeholder: I18n.t('comments.write_a_comment'),
                         rows: 2, 
                         required: true %>
    </div>

    <div id="upload-progress-container" class="upload-progress-container" style="display: none;">
      <div class="upload-progress-bar-outer">
        <div id="upload-progress-bar" class="upload-progress-bar-inner" style="width: 0%"></div>
      </div>
      <div id="upload-progress-text" class="upload-progress-text">0% Uploaded</div>
    </div>

    <div class="form-submit">
      <%= form.submit I18n.t('comments.publish'), class: "text-white py-[12px] px-[30px] mb-[50px] hover:-translate-y-0.5 hover:shadow-[0_4px_8px_rgba(94,97,231,0.4)] active:translate-y-0.5 active:shadow-[0_1px_3px_rgba(94,97,231,0.4)] transition-all duration-300 ease-in-out rounded-3xl text-xl transition-all duration-300 ease-in-out cursor-pointer ml-auto mr-auto border-none bg-gradient-to-r from-[#5e61e7] to-[#8d7dfa] shadow-[0_2px_5px_rgba(94,97,231,0.3)] mt-10" %>
    </div>
  </div>
<% end %>
