<div id="flash-messages-container">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %> flash-message" role="alert">
      <%= message %>
      <button type="button" class="close-alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>