<div class="report-success">
  <p>Thank you for helping keep our community safe. We'll review this post shortly.</p>
  <div class="actions">
    <button type="button" class="btn btn-primary" data-action="click->modal#close">Close</button>
  </div>
</div>