<div class="mb-[20px] m-auto">
  <%= form_with url: search_path, method: :get, data: { turbo_frame: "search_results" } do |f| %>
    <div class="relative">
      <%= f.text_field :query,
                       placeholder: I18n.t('feed.search'),
                       class: "w-full text-base no-outline pl-10 py-3 pr-3 border-b-2 border-gray-300",
                       data: {
                         controller: "search",
                         action: "input->search#debounce"
                       } %>
      <span class="absolute left-[10px] top-[50%] text-[#666] -translate-y-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </span>
    </div>
  <% end %>

  <%= turbo_frame_tag "search_results" %>
</div>
