<div class="h-screen w-full flex flex-col items-center justify-center">
    <%= image_tag "run.png", alt: "Mascotte de Spreent qui courre", class: "w-[200px]" %>
    <h2 class="text-3xl mt-6">Oops! Page non trouvée</h2>

    <p class="text-sm pb-[50px]">La page que vous recherchez n'existe pas ou a été déplacée.</p>
        <%= link_to "Retour à l\'acceuil", home_path, class: "
      flex
      justify-center
      relative
      text-white
      px-[10px] py-[20px]
      text-xl
      border border-white
      bg-transparent no-underline
      transition-all duration-300 ease-in-out
      rounded-3xl
      hover:bg-white hover:text-black" %>
</div>

<div class="absolute w-[150px] h-[150px] bg-white opacity-50 top-[-50px] left-[-50px] rounded-lg blur-3xl"></div>
<div class="absolute w-[150px] h-[150px] bg-white opacity-50 bottom-[-50px] right-[-50px] rounded-lg blur-3xl"></div>