body {
  background: #6a0dad;
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  margin: 0;
}


.blur-point {
  position: absolute;
  width: 150px;
  height: 150px;
  background: white;
  filter: blur(80px); /* Blurry effect */
  border-radius: 50%;
  opacity: 0.8;
}

.top-left {
  top: -50px;
  left: -50px;
}

.bottom-right {
  bottom: -50px;
  right: -50px;
}

.screen_header {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

#fold {
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
}

.new_user {
    width: 100%;
    margin-left: auto;
    marginq-right: auto;
}

.field {
    font-size: 16px;
    padding-bottom: 30px;
}

.field input {
    height: 42px;
    width: 90%;
    margin-left: 10px;
    border-radius: 25px;
    padding-left: 20px;
}

.field label {
    font-size: 16px;
    color: #343434;
    position: relative;
    left: 20px;

    padding-bottom: 10px;
}

.btn-default {
    padding: 20px;
    color: white;
    background: #6a0dad;
}
