body {
  background: #6a0dad; /* Purple background */
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: 'Varela', sans-serif;
}

h2 {
    font-size: 32px;
    font-family: "Varela", sans-serif;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

span {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 30px;
    bottom: 25px;
    margin-bottom: 20px;
}

#main-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.blur-point {
  position: absolute;
  width: 150px;
  height: 150px;
  background: white;
  filter: blur(80px); /* Blurry effect */
  border-radius: 50%;
  opacity: 0.8;
}

.top-left {
  top: -50px;
  left: -50px;
}

.bottom-right {
  bottom: -50px;
  right: -50px;
}

.transparent-link {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    border-radius: 20px; /* Optional: adds rounded corners */
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.link-with-background {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: #3F256A;
    text-decoration: none;
    background: white;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    font-size: 20px;
}

.transparent-link:hover {
  background: white;
  color: black;
}

#invitation_question {
    background-color: #A7A4F5;
    border-radius: 50%;
    color: white;
    position: relative;
    left: 64px;

    padding-left: 10px;
    padding-bottom: 10px;
    width: 20px;
    height: 20px;
}
