<p><%= I18n.t('confirmation.welcome') %> <%= @name %>!</p>

<p><%= I18n.t('confirmation.you_can_confirm') %></p>

<p><%= link_to I18n.t('confirmation.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
